.node-state-transition {
  transition: all 500ms;
}

.node {
  border: 2px solid black !important;
  margin: 1px !important;
}

.node-state-pointed {
  background-color: aqua !important;
  transition: all 5ms;
}

.node-state-queued {
  background-color: lightpink !important;
  transition: all 5ms;
}

.node-state-visited {
  background-color: darkcyan !important;
}

.node-type-start {
  background-color: chartreuse !important;
}

.node-type-wall {
  background-color: chocolate;
}

.node-type-end {
  background-color: crimson;
}

.node-hover-type-start {
  background-color: chartreuse;
  transition: all 1ms;
}

.node-hover-type-wall {
  background-color: chocolate;
  transition: all 1ms;
}

.node-hover-type-end {
  background-color: crimson;
  transition: all 1ms;
}