@keyframes stretch {
  0% {
    transform: scale(0.5);
    outline: none;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes path {
  0% {
    transform: scale(.5);
    background-color: #10379e;
  }
  100% {
    transform: scale(1);
    background-color: aquamarine;
  }
}

@keyframes visited {
  from {
    background-color: hotpink;
  }
  to {
    background-color: #10379e;
  }
}

.node {
  outline: thin solid black;
  transition: all 100ms;
  animation-duration: 100ms;
  animation-timing-function: ease;
}

.node-state-queued,
.node-state-stacked {
  background-color: lightpink;
  outline: none;
  animation-name: stretch;
  animation-fill-mode: forwards;
}

.node-state-visited {
  outline: none;
  animation-name: stretch, visited;
  animation-fill-mode: forwards;
}

.node-type-start {
  display: flex;
  color: green;
}

.node-type-end {
  display: flex;
  color: brown !important;
}

.node-type-wall {
  background-color: black;
  animation-name: enlarge;
  outline: none;
}

.node-path {
  background-color: #10379e;
  animation-name: path;
  animation-fill-mode: forwards;
  animation-delay: calc(10ms * var(--index)) !important;
  animation-duration: 200ms;
}