@keyframes zoom {
  0% {transform: scale(1, 1);}
  50% {transform: scale(1.15, 1.15);}
  100% {transform: scale(1, 1);}
}

.node {
  outline: .5px solid black !important;
  transition: transform .2s;
  background-color: white;
  animation: zoom;
  animation-duration: 1ms;
}

.node:hover {
  transform: scale(1.5);
}

.node-state-visited.node-current,
.node-current {
  background-color: violet !important;
}

.node-state-queued,
.node-state-stacked {
  background-color: lightpink;
}

.node-wall.node-state-visited,
.node-state-visited {
  background-color: dodgerblue !important;
  /* transition: all 500ms; */
  /* animation: zoom; */
  /* animation-duration: 500ms; */
}

.node-type-start {
  background-color: limegreen !important;
}

.node-type-wall {
  background-color: gray
}

.node-state-visited.node-path,
.node-path {
  background-color: aquamarine;
  transition: all 500ms;
  /* animation: zoom; */
  /* animation-delay: 5s; */
}

.node-type-end {
  background-color: lightcoral !important;
}